{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	
	<!--
		Basic
	-->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<title>Nasim | Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="vCard & Resume Template" />
	<meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cards, portfolio" />
	<meta name="author" content="beshleyua" />
	
	<!--
		Load Fonts
	-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<!--
		Load CSS
	-->
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
	<link rel="stylesheet" href="{% static 'css/basic.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/layout.css'%}" />
	<link rel="stylesheet" href="{% static 'css/blogs.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}" />
	<link rel="stylesheet" href="{% static 'css/animate.css'%}" />
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" />
	<link rel="stylesheet" href="{% static 'css/tailwind.css'%}"/>

	<!--
		Background Gradient
	-->
	<link rel="stylesheet" href="{% static 'css/gradient.css'%}" />
	
	<!--
		Template New-Skin
	-->
	<link rel="stylesheet" href="{% static 'css/new-skin/new-skin.css'%}" />

	<!--
		Template RTL
	-->
	<!--<link rel="stylesheet" href="css/rtl.css" />-->
	
	<!--
		Template Colors
	-->
	
	<!--<link rel="stylesheet" href="css/template-colors/blue.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/orange.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/pink.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/purple.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/red.css" />-->

	<!--
		Template Dark
	-->
	<!--<link rel="stylesheet" href="css/template-dark/dark.css" />-->
	

	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--
		Favicons
	-->
	<link rel="shortcut icon" href="{% static 'favicon.png'%}">
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125314689-11"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-125314689-11');
	</script>

</head>

<body>
	<div class="page new-skin">
		
		<!-- preloader -->
		<div class="preloader">
			<div class="centrize full-width">
				<div class="vertical-center">
					<div class="spinner">
						<div class="double-bounce1"></div>
						<div class="double-bounce2"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- background -->
		<div class="background gradient">
			<ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
		</div>

		<!--
			Container
		-->
		<div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">

			<!--
				Header
			-->
			<header class="header">

				<!-- header profile -->
				<div class="profile">
					<div class="title">Saad Nasim</div>
					<div class="subtitle subtitle-typed">
						<div class="typing-title">
							<p>Web Designer</p>
							<p>Web Developer</p>
							<p>Content Writer</p>
							<p>Photographer</p>
						</div>
					</div>
				</div>

				<!-- menu btn -->
				<a href="#" class="menu-btn"><span></span></a>

				<!-- menu -->
				<div class="top-menu">
					<ul>
						<li class="active">
							<a href="#about-card">
								<span class="icon ion-person"></span>
								<span class="link">About</span>
							</a>
						</li>
						<li>
							<a href="#resume-card">
								<span class="icon ion-android-list"></span>
								<span class="link">Resume</span>
							</a>
						</li>
						<li>
							<a href="#works-card">
								<span class="icon ion-paintbrush"></span>
								<span class="link">Works</span>
							</a>
						</li>
						<li>
							<a href="#blog-card">
								<span class="icon ion-chatbox-working"></span>
								<span class="link">Blog</span>
							</a>
						</li>
						<li>
							<a href="#contacts-card">
								<span class="icon ion-at"></span>
								<span class="link">Contact</span>
							</a>
						</li>
					</ul>
				</div>
			</header>

			<!--
				Card - Started
			-->
			<div class="card-started" id="home-card">

				<!--
					Profile
				-->
				<div class="profile no-photo">

					<!-- profile image -->
					<div class="slide" style="background: url('{% static 'home.png' %}')"></div>

					<!-- profile titles -->
					<div class="title">Saad Nasim</div>
					<!--<div class="subtitle">Web Designer</div>-->
					<div class="subtitle subtitle-typed">
						<div class="typing-title">
							<p>Web Designer</p>
							<p>Web Developer</p>
							<p>Content Writer</p>
							<p>Photographer</p>
						</div>
					</div>

					<!-- profile socials -->
					<div class="social">
						<a target="_blank" href="https://twitter.com/saadnasimshow"><span class="fa fa-twitter"></span></a>
						<a target="_blank" href="https://facebook.com/saadnasimshow"><span class="fa fa-facebook"></span></a>
						<a target="_blank" href="https://instagram.com/saadnasimshow"><span class="fa fa-instagram"></span></a>
						<a target="_blank" href="https://github.com/nasim-munna"><span class="fa fa-github"></span></a>
					</div>
					
					<!-- profile buttons -->
					<div class="lnks">
						
						{% for data in cv %}
							
						<a href="{{ data.cv.url }}" class="lnk">
							<span class="text">Download CV</span>
						</a>
						{% endfor %}
						<a href="#" class="lnk discover">
							<span class="text">Contact Me</span>
						</a>
					</div>

				</div>

			</div>

			<!-- 
				Card - About
			-->
			<div class="card-inner animated active" id="about-card">
				<div class="card-wrap">

					<!-- 
						About 
					-->
					<div class="content about">

						<!-- title -->
						<div class="title">About Me</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="text-box">
									<p>
										I am Saad Nasim, web developer from Bangladesh, Dhaka. I have rich experience in web site design and building and customization, also I am good at wordpress. I love to talk with you about our unique.
									</p>
								</div>
							</div>
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="info-list">
									<ul>
										<li><strong>Age . . . . .</strong> 20</li>
										<li><strong>Residence . . . . .</strong> Bangladesh</li>
										<li><strong>Freelance . . . . .</strong> Available</li>
										<li><strong>Address . . . . .</strong> Dhaka, Bangladesh</li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

					<!--
						Services
					-->
					<div class="content services">

						<!-- title -->
						<div class="title">My Services</div>

						<!-- content -->
						<div class="row service-items border-line-v">
							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon">
										<span class="fa fa-code"></span>
									</div>
									<div class="name">
										<span >
										Web Development								</span>
									</div>
									<div class="desc">
										<div >
											<p>Modern and mobile-ready website that will help you reach all of your marketing.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon">
										<span class="fa fa-mobile"></span>
									</div>
									<div class="name">
										<span >
										Software Development								</span>
									</div>
									<div class="desc">
										<div >
											<p>I Develop custom software by using Python/Django .</p>
										</div>
									</div>
								</div>
							</div>
							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon">
										<span class="fa fa-buysellads"></span>
									</div>
									<div class="name">
										<span >
										Digital Advetising								</span>
									</div>
									<div class="desc">
										<div >
											<p>I provide Digital Advetising Servies.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon">
										<span class="fa fa-search"></span>
									</div>
									<div class="name">
										<span >
										SEO								</span>
									</div>
									<div class="desc">
										<div >
											<p>I provide Web Application Search Engine Optimization Services.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>

					</div>

					

					<!--
						Fun Fact
					-->
					<div class="content fuct">

						<!-- title -->
						<div class="title">Fun Fact</div>

						<!-- content -->
						<div class="row fuct-items">

							<!-- fuct item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="fa fa-music"></span></div>
									<div class="name">40+ Albumes Listened</div>
								</div>
							</div>

							<!-- fuct item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="fa fa-trophy"></span></div>
									<div class="name">2 Awards Won</div>
								</div>
							</div>

							<!-- fuct item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="fa fa-coffee"></span></div>
									<div class="name">1 000 Cups of coffee</div>
								</div>
							</div>

							<!-- fuct item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="fa fa-map-marker "></span></div>
									<div class="name">50+ Tourist Spot Visited</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Clients
					-->
					<div class="content clients">

						<!-- title -->
						<div class="title">Clients</div>

						<!-- content -->
						<div class="row client-items">

							<!-- client item -->
							
							{% for data in client %}
								
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
										<a target="_blank" href="{{ data.url }}">
											<img src="{{ data.image.url }}" alt="" />
										</a>
									</div>
								</div>
							</div>
							{% endfor %}


							<div class="clear"></div>
						</div>

					</div>

					<!-- Quote -->
					<div class="content quote">

						<!-- title -->
						<div class="title">
							<span >Quote</span>
						</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="revs-item">
									<div class="text">
										<div >
											If you Dreame it, You can do it.							
										</div>
									</div>
									<div class="user">
										<div class="img">
											<img src="{% static 'nasim.jpg'%}" alt="">
										</div>
										<div class="info">
											<div class="name">Saad Nasim</div>
											<div class="company">Web Developer</div>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

			<!--
				Card - Resume
			-->
			<div class="card-inner" id="resume-card">
				<div class="card-wrap">

					<!--
						Resume
					-->
					<div class="content resume">

						<!-- title -->
						<div class="title">Resume</div>

						<!-- content -->
						<div class="row">

							<!-- experience -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="fa fa-briefcase"></i></div>
									<div class="name">Experience</div>
								</div>
								<div class="resume-items">
									<div class="resume-item border-line-h active">
										<div class="date">2020 - 2021</div>
										<div class="name">Web Developer</div>
										<div class="company">Creative Tech Park</div>
										<p>
											Collaborate with creative and development teams on the execution of ideas.
										</p>
									</div>
									<div class="resume-item border-line-h">
										<div class="date">2019 - 2020</div>
										<div class="name">Front-end Developer</div>
										<div class="company">Creative IT Zone</div>
										<p>
											Monitored technical aspects of the front-end delivery for several projects.
										</p>
									</div>
									<div class="resume-item border-line-h">
										<div class="date">2019 - Present</div>
										<div class="name">Web & Wordpress Developer</div>
										<div class="company">Fiverr & Upwork</div>
										<p>
											I am working as a Web Application Developer in Fiverr & Upwork form 2019.
										</p>
									</div>
								</div>
							</div>

							<!-- education -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="fa fa-university"></i></div>
									<div class="name">Education</div>
								</div>
								<div class="resume-items">
									<div class="resume-item border-line-h">
										<div class="date">2020 - Present</div>
										<div class="name">Green University</div>
										<div class="company">Dhaka</div>
										<p>
											I have started Bsc Computer Science and Engineering (CSE) in this University.
										</p>
									</div>
									<div class="resume-item border-line-h">
										<div class="date">2012 - 2017</div>
										<div class="name">Kishoreganj Govt. Boys' High School</div>
										<div class="company">Kishoreganj</div>
										<p>
											I have passed SSC form this school.
										</p>
									</div>
									<div class="resume-item">
										<div class="date">2018 - 2019</div>
										<div class="name">Web Design Course</div>
										<div class="company">Udemy</div>
										<p>
											Converted Photoshop layouts to web pages using HTML, CSS, and JavaScript
										</p>
									</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Skills
					-->
					<div class="content skills">

						<!-- title -->
						<div class="title">My Skills</div>
					
						<!-- content -->
						<div class="row">
						
							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="fa fa-paint-brush"></i></div>
										<div class="name">Design</div>
									</div>
									<ul>
										<li class="border-line-h"> 
											<div class="name">Web Design</div>
											<div class="progress">
												<div class="percentage" style="width:90%;"></div>
											</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Adobe premiere Pro</div>
											<div class="progress">
												<div class="percentage" style="width:65%;"></div>
											</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Photoshop</div>
											<div class="progress">
												<div class="percentage" style="width:75%;"></div>
											</div>
										</li>
										<li>
											<div class="name">Graphic Design</div>
											<div class="progress">
												<div class="percentage" style="width:85%;"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list dotted">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="fa fa-flag"></i></div>
										<div class="name">Languages</div>
									</div>
									<ul>
										<li class="border-line-h"> 
											<div class="name">Bangla</div>
											<div class="progress">
												<div class="percentage" style="width:100%;"></div>
											</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">English</div>
											<div class="progress">
												<div class="percentage" style="width:80%;"></div>
											</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Hindi</div>
											<div class="progress">
												<div class="percentage" style="width:60%;"></div>
											</div>
										</li>
										<li>
											<div class="name">French</div>
											<div class="progress ">
												<div class="percentage" style="width:30%;"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list circles">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="fa fa-code"></i></div>
										<div class="name">Coding</div>
									</div>
									<ul>
										<li> 
											<div class="name">WordPress</div>
											<div class="progress p90">
												<span>90%</span>
											</div>
										</li>
										<li> 
											<div class="name">Python / Django</div>
											<div class="progress p75">
												<span>75%</span>
											</div>
										</li>
										<li> 
											<div class="name">React / JavaScript</div>
											<div class="progress p85">
												<span>70%</span>
											</div>
										</li>
										<li> 
											<div class="name">HTML / CSS / BootStrap</div>
											<div class="progress p95">
												<span>95%</span>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list list">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="fa fa-list"></i></div>
										<div class="name">Knowledge</div>
									</div>
									<ul>
										<li> 
											<div class="name">Website hosting</div>
										</li>
										<li> 
											<div class="name">iOS and android apps</div>
										</li>
										<li> 
											<div class="name">Create logo design</div>
										</li>
										<li> 
											<div class="name">Design for print</div>
										</li>
										<li> 
											<div class="name">Modern and mobile-ready</div>
										</li>
										<li> 
											<div class="name">Advertising services include</div>
										</li>
										<li> 
											<div class="name">Graphics and animations</div>
										</li>
										<li> 
											<div class="name">Search engine Optimization</div>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="clear"></div>
						</div>
						
					</div>

					<!--
						Testimonials
					-->
					<div class="content testimonials">

						<!-- title -->
						<div class="title">Testimonials</div>

						<!-- content -->
						<div class="row testimonials-items">

							<!-- client item -->
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="revs-carousel default-revs">
									<div class="owl-carousel">
										
										{% for data in testimonial  %}
										
										<div class="item">
											<div class="revs-item">
												<div class="text">
													{{ data.comment}}
												</div>
												<div class="user">
													<div class="img"><img src="{{ data.image.url }}" alt="" /></div>
													<div class="info">
														<div class="name">{{data.name}}</div>
														<div class="company">{{data.designation}}</div>
													</div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
										{% endfor %}
										
									</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

			<!--
				Card - Works
			-->
			<div class="card-inner" id="works-card">
				<div class="card-wrap">

					<!--
						Works
					-->
					<div class="content works">

						<!-- title -->
						<div class="title">Recent Works</div>

						<!-- filters -->
						<div class="filter-menu filter-button-group">
							<div class="f_btn active">
								<label><input type="radio" name="fl_radio" value="grid-item" />All</label>
							</div>
						</div>

						<!-- content -->
						<div class="row grid-items border-line-v">

							<!-- work item photo -->
							
							{% for data in work  %}
								
							<div class="col col-d-6 col-t-6 col-m-12 grid-item border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="{{ data.image.url }}" class="has-popup-image">
											<img src="{{ data.image.url }}" alt="Image" />
											<span class="info">
												<span class="ion ion-image"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="{{ data.url }}" target="_blank" class="name">{{ data.title}}</a>
										<div class="category">{{ data.category }}</div>
									</div>
								</div>
							</div>
							{% endfor %}

							
							

							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

			<!--
				Card - Blog
			-->
			<div class="card-inner blog" id="blog-card">
				<div class="card-wrap">

					<!-- Blog -->
					<div class="content blog">

						<!-- title -->
						<div class="title">
							<span >Blog</span>
						</div>

						<!-- content -->
						<div class="row border-line-v">
							<!-- blog item -->
							
							
								
							
							{% for data in post %}	
							<div class="col col-d-6 col-t-6 col-m-12">
								
								<div class="box-item">
									
									<div class="image">
										<a href="{{ data.get_absolute_url }}">
											<img src="{{ data.image.url }}" alt="Image" />
											<span class="info">
												<span class="ion ion-document-text"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="{{ data.get_absolute_url }}">
											<span class="date">{{ data.created_on}}</span>
										</a>
										<a href="{{ data.get_absolute_url }}" class="name">{{ data.title}}</a>
										<div class="text">
											<p>{{ data.content |slice:":200" }}</p>
										</div>
									</div>
									
								</div>
								
							</div>
							{% endfor %}
							
							<div class="clear"></div>
						</div>

						

					</div>

				</div>
			</div>

			<!--
				Card - Contacts
			-->
			<div class="card-inner contacts" id="contacts-card">
				<div class="card-wrap">

					<!--
						Conacts Info
					-->
					<div class="content contacts">

						<!-- title -->
						<div class="title">Get in Touch</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								
								<div class="info-list">
									<ul>
										<li><strong>Address . . . . .</strong> Dhaka, Bangladesh</li>
										<li><strong>Email . . . . .</strong> saadnasim75@gmail.com</li>
										<li><strong>Phone . . . . .</strong> +8801989 230820</li>
										<li><strong>Freelance . . . . .</strong> Available</li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

					<!--
						Contact Form
					-->
					<div class="content contacts">

						<!-- title -->
						<div class="title">Contact Form</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="contact_form">
									
									<form  method="post">
										{% csrf_token %}
										<div class="row">
											<div class="col col-d-6 col-t-6 col-m-12">
												<div class="group-val">
													<input type="text" name="name" placeholder="Full Name" />
												</div>
											</div>
											<div class="col col-d-6 col-t-6 col-m-12">
												<div class="group-val">
													<input type="text" name="email" placeholder="Email Address" />
												</div>
											</div>
											<div class="col col-d-12 col-t-12 col-m-12">
												<div class="group-val">
													<textarea name="message" placeholder="Your Message"></textarea>
												</div>
											</div>
										</div>
										<div class="align-left">
											<div class="comment-submit-btn">
												<button class="ht-btn ht-btn-md btn-outline-success" type="submit">Send Message</button>
											   
											</div>
										</div>
									</form>
									
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

		</div>

		
		</div>

	</div>
	
	<!--
		jQuery Scripts
	-->
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/jquery.validate.js'%}"></script>
	<script src="{% static 'js/jquery.magnific-popup.js'%}"></script>
	<script src="{% static 'js/imagesloaded.pkgd.js'%}"></script>
	<script src="{% static 'js/isotope.pkgd.js'%}"></script>
	<script src="{% static 'js/jquery.slimscroll.js'%}"></script>
	<script src="{% static 'js/owl.carousel.js'%}"></script>
	<script src="{% static 'js/typed.js'%}"></script>
	<script src="https://use.fontawesome.com/8da76d029b.js"></script>
	
	<!--
		Google map api
	-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz2w7HUaWudHwd7AWQpCL48Qs050WOn9s"></script>
	
	<!--
		Main Scripts
	-->
	<script src="{% static 'js/scripts.js'%}"></script>
	
</body>
</html>